In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel('hotel_reviews.xlsx')

In [3]:
df

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...     4.0
1      ok nothing special charge diamond member hilto...     2.0
2      nice rooms not 4* experience hotel monaco seat...     3.0
3      unique, great stay, wonderful time hotel monac...     5.0
4      great stay great stay, went seahawk game aweso...     5.0
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...     5.0
20487  great location price view hotel great quick pl...     4.0
20488  ok just looks nice modern outside, desk staff ...     2.0
20489  hotel theft ruined vacation hotel opened sept ...     1.0
20490  people talking, ca n't believe excellent ratin...     2.0

[20491 rows x 2 columns]

In [4]:
df['Rating'].value_counts()

5.0    9054
4.0    6039
3.0    2184
2.0    1793
1.0    1421
Name: Rating, dtype: int64

In [5]:
import re #regular expression
import stringstop_words = pd.read_csv('stop.txt',header=None,squeeze=True)
stop_words

def clean_text(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text) #Replace
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub("[0-9" "]+"," ",text)
    text = re.sub('[‘’“”…]', '', text)
    return text

clean = lambda x: clean_text(x)

In [6]:
import re #regular expression
import string

def clean_text(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text) #Replace
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub("[0-9" "]+"," ",text)
    text = re.sub('[‘’“”…]', '', text)
    return text

clean = lambda x: clean_text(x)

In [7]:
df['Review']

0        nice hotel expensive parking got good deal sta...
1        ok nothing special charge diamond member hilto...
2        nice rooms not  experience hotel monaco seattl...
3        unique great stay wonderful time hotel monaco ...
4        great stay great stay went seahawk game awesom...
                               ...
20486    best kept secret  time staying charm not  ca n...
20487    great location price view hotel great quick pl...
20488    ok just looks nice modern outside desk staff n...
20489    hotel theft ruined vacation hotel opened sept ...
20490    people talking ca nt believe excellent ratings...
Name: Review, Length: 20491, dtype: object

In [8]:
freq = pd.Series(' '.join(df['Review']).split()).value_counts()[:20] # for top 20
freq

hotel       48832
room        34300
not         31525
great       21087
nt          18989
good        16972
staff       16203
stay        15153
did         13892
just        12589
nice        12399
rooms       12015
no          11603
location    11032
stayed      10466
service      9961
time         9816
beach        9581
night        9423
clean        9359
dtype: int64

In [9]:
custom_words=['hotel','room','rooms']
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
new_stop=stop+custom_words
new_stop.remove("not")
new_stop

[nltk_data] Error loading stopwords: <urlopen error [Errno 110]
[nltk_data]     Connection timed out>

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'hotel',
 'room',
 'rooms']

In [10]:
df['Review']

0        nice hotel expensive parking got good deal sta...
1        ok nothing special charge diamond member hilto...
2        nice rooms not  experience hotel monaco seattl...
3        unique great stay wonderful time hotel monaco ...
4        great stay great stay went seahawk game awesom...
                               ...
20486    best kept secret  time staying charm not  ca n...
20487    great location price view hotel great quick pl...
20488    ok just looks nice modern outside desk staff n...
20489    hotel theft ruined vacation hotel opened sept ...
20490    people talking ca nt believe excellent ratings...
Name: Review, Length: 20491, dtype: object

In [11]:
df['Review']

0        nice hotel expensive parking got good deal sta...
1        ok nothing special charge diamond member hilto...
2        nice rooms not  experience hotel monaco seattl...
3        unique great stay wonderful time hotel monaco ...
4        great stay great stay went seahawk game awesom...
                               ...
20486    best kept secret  time staying charm not  ca n...
20487    great location price view hotel great quick pl...
20488    ok just looks nice modern outside desk staff n...
20489    hotel theft ruined vacation hotel opened sept ...
20490    people talking ca nt believe excellent ratings...
Name: Review, Length: 20491, dtype: object

In [12]:
df.Review=df.Review.apply(lambda x: [word for word in x.split(' ') if word not in set(new_stop)])
df['Review']

0        [nice, expensive, parking, got, good, deal, st...
1        [ok, nothing, special, charge, diamond, member...
2        [nice, not, , experience, monaco, seattle, goo...
3        [unique, great, stay, wonderful, time, monaco,...
4        [great, stay, great, stay, went, seahawk, game...
                               ...
20486    [best, kept, secret, , time, staying, charm, n...
20487    [great, location, price, view, great, quick, p...
20488    [ok, looks, nice, modern, outside, desk, staff...
20489    [theft, ruined, vacation, opened, sept, , , gu...
20490    [people, talking, ca, nt, believe, excellent, ...
Name: Review, Length: 20491, dtype: object

In [13]:
from nltk.stem import PorterStemmer,WordNetLemmatizer
ps=PorterStemmer()
le=WordNetLemmatizer()

In [14]:
df.Review=df.Review.apply(lambda x: [ps.stem(word) for word in x])
df['Review']

0        [nice, expens, park, got, good, deal, stay, an...
1        [ok, noth, special, charg, diamond, member, hi...
2        [nice, not, , experi, monaco, seattl, good, nt...
3        [uniqu, great, stay, wonder, time, monaco, loc...
4        [great, stay, great, stay, went, seahawk, game...
                               ...
20486    [best, kept, secret, , time, stay, charm, not,...
20487    [great, locat, price, view, great, quick, plac...
20488    [ok, look, nice, modern, outsid, desk, staff, ...
20489    [theft, ruin, vacat, open, sept, , , guest, we...
20490    [peopl, talk, ca, nt, believ, excel, rate, nt,...
Name: Review, Length: 20491, dtype: object

In [15]:
df['Review']

0        [nice, expens, park, got, good, deal, stay, an...
1        [ok, noth, special, charg, diamond, member, hi...
2        [nice, not, , experi, monaco, seattl, good, nt...
3        [uniqu, great, stay, wonder, time, monaco, loc...
4        [great, stay, great, stay, went, seahawk, game...
                               ...
20486    [best, kept, secret, , time, stay, charm, not,...
20487    [great, locat, price, view, great, quick, plac...
20488    [ok, look, nice, modern, outsid, desk, staff, ...
20489    [theft, ruin, vacat, open, sept, , , guest, we...
20490    [peopl, talk, ca, nt, believ, excel, rate, nt,...
Name: Review, Length: 20491, dtype: object

In [16]:
df['Review']=df.Review.apply(lambda x:' '.join(x))

In [17]:
df['Rating_2']=pd.cut(df.Rating,[0,2,3,5],labels=['negative','neutral','positive'])
df

                                                  Review  Rating  Rating_2
0      nice expens park got good deal stay anniversar...     4.0  positive
1      ok noth special charg diamond member hilton de...     2.0  negative
2      nice not  experi monaco seattl good nt  levelp...     3.0   neutral
3      uniqu great stay wonder time monaco locat exce...     5.0  positive
4      great stay great stay went seahawk game awesom...     5.0  positive
...                                                  ...     ...       ...
20486  best kept secret  time stay charm not  ca nt b...     5.0  positive
20487  great locat price view great quick place sight...     4.0  positive
20488  ok look nice modern outsid desk staff nt parti...     2.0  negative
20489  theft ruin vacat open sept   guest week happi ...     1.0  negative
20490  peopl talk ca nt believ excel rate nt ye patri...     2.0  negative

[20491 rows x 3 columns]

# count vecotorizer

In [79]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv=CountVectorizer()

In [80]:
tf=TfidfVectorizer()

In [81]:
x=df['Review']
X=np.array(x).reshape(-1,1)

In [82]:
y=df['Rating_2']
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y=le.fit_transform(y)

In [83]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=1)

In [84]:
x_train.shape,y_train.shape

((15368, 1), (15368,))

In [85]:
x_train

array([['fantast partner return  night stay confortel auditori sing prais onlin research visit trip advisor hear review not disappoint locat great metro station stone throw provid access major attract base quiet commercialtourist area great valu money class air condit free mini bar stock bathroom recommend bakeri road excel chines restaur short distanc away  '],
       ['enjoy stay week reloc search apart spaciou comfort furnish larg desk nice bath restaur vari menu attent staff personnel help offer great advic transit singapor easier  '],
       ['great locat mediocr stay  night  confer good locat squar situat french quarter block west bourbon street  block north canal street jackson squar harrah casino  minut walk away confer center  minut walk sister restaur pat obrien brennan broussard  mintu walk hotelthi  type peopl young couplessingl children interest parti french quarter individu attend confer center realli consid look arriv  told nt check  gym chang leav stuff deskth worn feel carpet furnitur upholesteri appear quit use exercis facil tenth floor small pool greenish appear water  functionaltreadmil  bicycl substandard holiday innth averag mattress comfort ac work bathroom not fan got quit humid elev slow timesal thing consid disappoint especi given paid given rare serv purpos  '],
       ...,
       ['amistad  point wow amistad stay amsterdam pleasnent home mom speciali woke earlier breakfast cuteboy  point  '],
       ['absolut perfect mu husband stay number time sheraton park sydney not say love servic wonder friendli courteou staff spaciou beauti central bathroom larg comfort not hesit recommend  '],
       ['nice bewar  parkingvalet fee great locat clean comfi stylish great servic nice view  park fee expect  serious  buck hurt cough money  ']],
      dtype=object)

In [86]:
pd.value_counts(y_train)

2    11290
0     2401
1     1677
dtype: int64

In [87]:
!pip install imblearn

Requirement already satisfied: imblearn in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from imblearn) (0.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: scipy>=1.3.2 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.21.5)

In [88]:
from imblearn.over_sampling import RandomOverSampler

In [89]:
ovr=RandomOverSampler()
x_resample,y_resample=ovr.fit_resample(x_train,y_train)

In [90]:
pd.value_counts(y_resample)

2    11290
1    11290
0    11290
dtype: int64

In [91]:
X_resample=x_resample[:,0]

In [92]:
convert=tf.fit_transform(X_resample)

In [93]:
from sklearn.ensemble import  RandomForestClassifier
RF=RandomForestClassifier()

In [94]:
model=RF.fit(convert,y_resample)

In [95]:
from sklearn.metrics import accuracy_score,classification_report

In [96]:
x_test

array([['great locat valu cautiou stay locat like tourist prefer near tiananmen squar honestli prefer site northeast citi near embassi fantast shop westernstyl bar great chines restaur taxi ride took  minut cost  top modern help doorman desk staff standard renaiss tast function subtli luxuri health club big subpar equip pool gorgeou perfect postflight refresh platinum member got use club loung fantast includ gener breakfast nt eat restaur explor beij downsid spa sauna locker  '],
       [' trip paradisu  time paradisu  year wed anniversari went riu year ago decid realli want paradisu  let start say bahama caymen island beauti landscap hotel pool gorgeou plenti area away tuck away nook place peopl unbeliev friendli happi question languag barrier countri quick tip good thing disappoint  arriv airport porter swarm bag let bag carri feet want tip thing return airport time insist carri bag   time punta cana taken pepto tablet morn safe problem time forgot bring antacid  day day  got montazumait  day feel affect advic antacid tabletsi got bad heartburn day pepto tablet morn feel  got great advic review bring chill cup drink got migo plastic chill cup straw target fewer trip beach bar  bring cork screw order bottl wine head beach wine return cork screw servic got shower nt leav time got head door  pillow flat pancak pack extra bag bring pillow  friend stay resort complain mosquito feel damp buidl  build  close beach nt damp problem morn left husband woke  bite elbow night slept long sleev shirt free attack  tip total option treat regardless tip not told staff anniversari resort flower day saw clean ladi middl week gave  tip bell boy help bag  bring snack snack peanut pizza pizza great day nt job pack snack beach  concierg dinner reserv new place dine call fuegoi nt recommend twicenot choic food not good tell servic staff green probabl  waiter approach knew waiter sakura japanes restaur best food opinion concierg told stay week nt push hard suddenli way hmmm strang told difficult restaur got  entir meal  italian restaraunt great late night pizza bottl wine white wine dri red decent let  orang juic delici enjoy mixtur oj pineappl juic morn omelett good  '],
       ['best staff husband stay casci night spaciou clean bathroom appear recent updat clean bright staff outstand help friendliest hotel stay trip book museum advanc book restaur excel recommend avail breakfast basic good not deadcent short walk major attract minut walk view david not glamour glitz cozi comfort  '],
       ...,
       ['comfort love design cornerroom new surpris inclus entri garden loung nice view balconi breakfast floor clean larg excel bathroom bed breakfast surprisingli good wonder present fresh atmospher berlin big pay attent want visit night account search subway connect good prepar travel away center  '],
       ['great locat great servic silla locat arno river view duomo short walk uffizi pont vecchio comfort staff help person reserv uffiz academi michaelangelo david walk park car garag minut away major site florenc silla stay heartbeat  '],
       ['love stay night ritz carlton corner execut suit fantast view bay magnific stand shower look bathroom loung window time extrem spaciou high ceil bigger bed extrem comfort marvel pillow plu bathroom fantast wonder appoint sort thing soap bubbl bath bath oil shower gel shampoo towel robe nice fluffyw ate quit bit restaur breakfast lunch dinner choic buffet meal look great like order menu impress food hot tasti fresh ask quit set gym overlook pool earli morn ca nt sleep great workout nt use pool look invitingth staff excel said hello eager helpi stay number  star hotel not quit underst quiet eleg singapor season definit stay  ']],
      dtype=object)

In [97]:
X_test=x_test[:,0]

In [98]:
test_convert=tf.transform(X_test)

In [99]:
y_pred=model.predict(test_convert)

In [100]:
acc=accuracy_score(y_pred,y_test)
acc

0.8219793089986336

In [101]:
from sklearn.naive_bayes import MultinomialNB
mb=MultinomialNB()

In [102]:
model_nb= mb.fit(convert,y_resample)

In [103]:
nb_predict=model_nb.predict(test_convert)

In [104]:
print(classification_report(nb_predict,y_test))

              precision    recall  f1-score   support

           0       0.77      0.68      0.72       930
           1       0.60      0.25      0.35      1227
           2       0.75      0.96      0.84      2966

    accuracy                           0.74      5123
   macro avg       0.71      0.63      0.64      5123
weighted avg       0.72      0.74      0.70      5123

In [105]:
accuracy_score(nb_predict,y_test)

0.7399960960374781

In [106]:
pd.value_counts(y_resample)

2    11290
1    11290
0    11290
dtype: int64

In [107]:
!pip install textblob

Requirement already satisfied: textblob in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from textblob) (3.7)
Requirement already satisfied: click in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: tqdm in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: joblib in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (1.2.0)

In [108]:
from textblob import TextBlob

In [109]:
from typing_extensions import Text

In [110]:
txt=TextBlob(df['Review'][1])

In [111]:
txt

TextBlob("ok noth special charg diamond member hilton decid chain shot  anniversari seattl start book suit paid extra websit descript not suit bedroom bathroom standard took print reserv desk show said thing like tv couch ect desk clerk told oh mix suit descript kimpton websit sorri free breakfast got kid embassi suit sit bathroom bedroom unlik kimpton call suit  day stay offer correct fals advertis send kimpton prefer guest websit email ask failur provid suit advertis websit reserv descript furnish hard copi reserv printout websit desk manag duti not repli solut send email trip guest survey not follow email mail guess tell concern guestth staff rang indiffer not help ask desk good breakfast spot neighborhood hood told hotel gee best breakfast spot seattl  block away conveni not know exist arriv late night  pm insid run bellman busi chate cell phone help bagsprior arriv email inform  anniversari half realli picki want make sure good got nice email say like deliv bottl champagn chocol cover strawberri arriv celebr told need foam pillow arriv champagn strawberri foam pillow great view alley high rise build good not better housekeep staff cleaner properti impress left morn shop got short trip  hour bed comfortablenot good acheat control  x  inch screen bring green shine directli eye night light sensit tape controlsthi not  start clean busi super high rate better chain hotel seattl  ")

In [112]:
txt.sentiment.polarity

0.2949542124542125

In [113]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (3.3.2)
Requirement already satisfied: requests in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from vaderSentiment) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/jyotipriya/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (3.3)

In [114]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sentiment = SentimentIntensityAnalyzer()

In [115]:
df['score']=df['Review'].apply(lambda Review:sentiment.polarity_scores(Review))

In [116]:
df['compound']=df['score'].apply(lambda new_score:new_score['compound'])

In [117]:
df

,Review,Rating,Rating_2,score,compound,polarity,subjectivity,senti
0,nice expens park got good deal stay anniversar...,4.0,positive,"{'neg': 0.088, 'neu': 0.671, 'pos': 0.241, 'co...",0.9419,0.353265,0.749286,Pos
1,ok noth special charg diamond member hilton de...,2.0,negative,"{'neg': 0.042, 'neu': 0.747, 'pos': 0.21, 'com...",0.9916,0.294954,0.514051,Pos
2,nice not experi monaco seattl good nt levelp...,3.0,neutral,"{'neg': 0.044, 'neu': 0.745, 'pos': 0.212, 'co...",0.9888,0.294513,0.591511,Pos
3,uniqu great stay wonder time monaco locat exce...,5.0,positive,"{'neg': 0.0, 'neu': 0.61, 'pos': 0.39, 'compou...",0.9917,0.455556,0.640278,Pos
4,great stay great stay went seahawk game awesom...,5.0,positive,"{'neg': 0.109, 'neu': 0.684, 'pos': 0.207, 'co...",0.9713,0.322078,0.537987,Pos
...,...,...,...,...,...,...,...,...
20486,best kept secret time stay charm not ca nt b...,5.0,positive,"{'neg': 0.081, 'neu': 0.692, 'pos': 0.227, 'co...",0.9592,0.219896,0.541520,Pos
20487,great locat price view great quick place sight...,4.0,positive,"{'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'comp...",0.9709,0.516667,0.625000,Pos
20488,ok look nice modern outsid desk staff nt parti...,2.0,negative,"{'neg': 0.0, 'neu': 0.796, 'pos': 0.204, 'comp...",0.9022,0.263874,0.499026,Pos
20489,theft ruin vacat open sept guest week happi ...,1.0,negative,"{'neg': 0.129, 'neu': 0.743, 'pos': 0.128, 'co...",0.6896,0.123236,0.464726,Neg
20490,peopl talk ca nt believ excel rate nt ye patri...,2.0,negative,"{'neg': 0.105, 'neu': 0.721, 'pos': 0.173, 'co...",0.8304,-0.012381,0.657143,Pos

In [118]:
df[['polarity','subjectivity']]=df['Review'].apply(lambda text :pd.Series(TextBlob(text).sentiment))

for index,row in df['Review'].iteritems():
  Score= SentimentIntensityAnalyzer().polarity_scores(row)
  neg=Score['neg']
  neu=Score['neu']
  pos=Score['pos']
  if neg>pos:
    df.loc[index,'senti']= 'Neg'
  elif pos>neg:
    df.loc[index,"senti"]='Pos'
  else:
    df.loc[index, 'senti']='Neu'

In [119]:
df

,Review,Rating,Rating_2,score,compound,polarity,subjectivity,senti
0,nice expens park got good deal stay anniversar...,4.0,positive,"{'neg': 0.088, 'neu': 0.671, 'pos': 0.241, 'co...",0.9419,0.353265,0.749286,Pos
1,ok noth special charg diamond member hilton de...,2.0,negative,"{'neg': 0.042, 'neu': 0.747, 'pos': 0.21, 'com...",0.9916,0.294954,0.514051,Pos
2,nice not experi monaco seattl good nt levelp...,3.0,neutral,"{'neg': 0.044, 'neu': 0.745, 'pos': 0.212, 'co...",0.9888,0.294513,0.591511,Pos
3,uniqu great stay wonder time monaco locat exce...,5.0,positive,"{'neg': 0.0, 'neu': 0.61, 'pos': 0.39, 'compou...",0.9917,0.455556,0.640278,Pos
4,great stay great stay went seahawk game awesom...,5.0,positive,"{'neg': 0.109, 'neu': 0.684, 'pos': 0.207, 'co...",0.9713,0.322078,0.537987,Pos
...,...,...,...,...,...,...,...,...
20486,best kept secret time stay charm not ca nt b...,5.0,positive,"{'neg': 0.081, 'neu': 0.692, 'pos': 0.227, 'co...",0.9592,0.219896,0.541520,Pos
20487,great locat price view great quick place sight...,4.0,positive,"{'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'comp...",0.9709,0.516667,0.625000,Pos
20488,ok look nice modern outsid desk staff nt parti...,2.0,negative,"{'neg': 0.0, 'neu': 0.796, 'pos': 0.204, 'comp...",0.9022,0.263874,0.499026,Pos
20489,theft ruin vacat open sept guest week happi ...,1.0,negative,"{'neg': 0.129, 'neu': 0.743, 'pos': 0.128, 'co...",0.6896,0.123236,0.464726,Neg
20490,peopl talk ca nt believ excel rate nt ye patri...,2.0,negative,"{'neg': 0.105, 'neu': 0.721, 'pos': 0.173, 'co...",0.8304,-0.012381,0.657143,Pos

In [120]:
df['senti'].value_counts()

Pos    19142
Neg     1296
Neu       53
Name: senti, dtype: int64

In [121]:
df['Rating'].value_counts()

5.0    9054
4.0    6039
3.0    2184
2.0    1793
1.0    1421
Name: Rating, dtype: int64

In [122]:
df['Review']

0        nice expens park got good deal stay anniversar...
1        ok noth special charg diamond member hilton de...
2        nice not  experi monaco seattl good nt  levelp...
3        uniqu great stay wonder time monaco locat exce...
4        great stay great stay went seahawk game awesom...
                               ...
20486    best kept secret  time stay charm not  ca nt b...
20487    great locat price view great quick place sight...
20488    ok look nice modern outsid desk staff nt parti...
20489    theft ruin vacat open sept   guest week happi ...
20490    peopl talk ca nt believ excel rate nt ye patri...
Name: Review, Length: 20491, dtype: object

In [123]:
reviews_vader=df.copy()

In [124]:
reviews_vader['sentiment_polarity']=reviews_vader.Review.apply(lambda x:sentiment.polarity_scores(x)['compound'])
reviews_vader

,Review,Rating,Rating_2,score,compound,polarity,subjectivity,senti,sentiment_polarity
0,nice expens park got good deal stay anniversar...,4.0,positive,"{'neg': 0.088, 'neu': 0.671, 'pos': 0.241, 'co...",0.9419,0.353265,0.749286,Pos,0.9419
1,ok noth special charg diamond member hilton de...,2.0,negative,"{'neg': 0.042, 'neu': 0.747, 'pos': 0.21, 'com...",0.9916,0.294954,0.514051,Pos,0.9916
2,nice not experi monaco seattl good nt levelp...,3.0,neutral,"{'neg': 0.044, 'neu': 0.745, 'pos': 0.212, 'co...",0.9888,0.294513,0.591511,Pos,0.9888
3,uniqu great stay wonder time monaco locat exce...,5.0,positive,"{'neg': 0.0, 'neu': 0.61, 'pos': 0.39, 'compou...",0.9917,0.455556,0.640278,Pos,0.9917
4,great stay great stay went seahawk game awesom...,5.0,positive,"{'neg': 0.109, 'neu': 0.684, 'pos': 0.207, 'co...",0.9713,0.322078,0.537987,Pos,0.9713
...,...,...,...,...,...,...,...,...,...
20486,best kept secret time stay charm not ca nt b...,5.0,positive,"{'neg': 0.081, 'neu': 0.692, 'pos': 0.227, 'co...",0.9592,0.219896,0.541520,Pos,0.9592
20487,great locat price view great quick place sight...,4.0,positive,"{'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'comp...",0.9709,0.516667,0.625000,Pos,0.9709
20488,ok look nice modern outsid desk staff nt parti...,2.0,negative,"{'neg': 0.0, 'neu': 0.796, 'pos': 0.204, 'comp...",0.9022,0.263874,0.499026,Pos,0.9022
20489,theft ruin vacat open sept guest week happi ...,1.0,negative,"{'neg': 0.129, 'neu': 0.743, 'pos': 0.128, 'co...",0.6896,0.123236,0.464726,Neg,0.6896
20490,peopl talk ca nt believ excel rate nt ye patri...,2.0,negative,"{'neg': 0.105, 'neu': 0.721, 'pos': 0.173, 'co...",0.8304,-0.012381,0.657143,Pos,0.8304

In [125]:
for i in range(0,5):
    m=reviews_vader[reviews_vader.Rating==i+1].sentiment_polarity.mean()
    print("polarity for rating {}: {}".format(i+1,m))

polarity for rating 1: 0.09408676988036589
polarity for rating 2: 0.4960227551589513
polarity for rating 3: 0.7741500457875438
polarity for rating 4: 0.9065878787878774
polarity for rating 5: 0.9227194499668623

In [128]:
from sklearn.linear_model import LogisticRegression

In [1]:
model = LogisticRegression()
model.fit(X_train,y_train)

NameError: name 'LogisticRegression' is not defined